
.left-panel {
    background-color: $color-16;
    float: left;
    margin-top: 60px;
    min-height: calc(100vh - 60px);
    width: 20%;
}

.activity {
    color: $color-2;
    background-color: $color-2a;
    height: 50px;
    padding: 10px;
    .icon {
        margin-right: 20px;
    }
}